<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christina.researchsuitedemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="a.b.c.d.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="a.b.c.d.permission.MAPS_RECEIVE" />



    <uses-permission android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE" />


    <application
        android:name="com.example.christina.researchsuitedemo.studyManagement.RSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity android:name="com.example.christina.researchsuitedemo.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.researchstack.backbone.ui.ViewTaskActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.RS.Survey"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.example.christina.researchsuitedemo.SettingsActivity"
            android:label="settings"
            android:theme="@style/Theme.RS.Settings" />

        <activity
            android:name="com.example.christina.researchsuitedemo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.example.christina.researchsuitedemo.OnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.christina.researchsuitedemo.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".notificationManagement.TaskNotificationReceiver"
            android:enabled="true"
            android:exported="false"
            />

        <receiver
            android:name=".notificationManagement.TaskAlertReceiver"
            android:enabled="true"
            android:exported="false"
            >

            <intent-filter>
                <action android:name="edu.cornell.tech.foundry.yadl.notification.ALERT_CREATE_FROM_STATE"/>
            </intent-filter>

        </receiver>

        <receiver
            android:name=".notificationManagement.DeviceBootReceiver"
            android:enabled="true"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.example.christina.researchsuitedemo.location.DemoGeofenceManagerBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            >

            <intent-filter>
                <action android:name="io.smalldata.ancile.common.location.START_MONITORING_SAVED_REGIONS"/>
                <action android:name="io.smalldata.ancile.common.location.RESTART_MONITORING_SAVED_REGIONS"/>
                <action android:name="io.smalldata.ancile.common.location.STOP_MONITORING_ALL_REGIONS"/>
            </intent-filter>

        </receiver>

        <service android:name=".location.DemoGeofenceTransitionIntentService" />



    </application>

</manifest>